{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}GOBIKE{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/nav-usuario.css' %}">
</head>

<!-- barra de navegação contato e cadastro -->

<body>
    <nav id="nav-logado">
        <div class="menu">
            <img src="/static/images/gobike2.png" alt="Logo GOBIKE!">
        </div>
        <ul id="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="#">Meu Perfil</a></li>
            <li><a href="#">Criar nova Rota</a></li>
            <li><a href="#">Rotas salvas</a></li>
            <li><a href="/../accounts/logout">Sair</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>