{% extends 'rotas/main-usuario.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/usuario.css' %}">
<script src="{% static 'js/usuario.js' %}" defer></script>
<section>
        <div id="dashDados">
                <h4>Olá, {{ user.get_username}}, bem vindo(a)!</h4>
                <h3>Dados Pessoais </h3>
                <p>Nome Completo: {{ user.get_full_name }}</p>   
                <p>Nome de Usuario: {{ user.get_username }}</p> 
                <p>Nome : {{ nome }}</p> 
        </div>
        <div id="dashLocalizacao">
                <img src="/static/images/sugestoes/place.png" alt="">
                <article>
                        <h3>Sua localização agora:</h3>
                        <p>Estação Hack - Trianon Masp</p>
                </article>
        </div>
</section>
            

{% endblock %}
