{% extends 'main.html' %}
{% load staticfiles %}
{% block title %}Entrar no Gobike{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<section>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken"
            value="GcZnJM2Rn8Btwf17cx1mRMtH40x9CRvvX4AokraKIpAOPVvwotLS4gvf9FUrNYzv">

        <img src="/static/images/gobike.png" alt="">
        <label for="username">Usuário:</label>
        <input type="username" name="username" autofocus required id="username">

        <label for="password">Senha:</label>
        <input type="password" name="password" required id="password">
        <button type="submit">{% csrf_token %}Entrar</button>
    </form>
</section>

<h1>login</h1>
<p>Nome digitado: {{username}}</p>
<p>senha: {{passowrd}}</p>
{% endblock %}