{% extends 'main.html' %}
{% load staticfiles %}
{% block title %}Entrar no Gobike{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<section>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next"
            value="{{ next }}">

        <img src="/static/images/gobike.png" alt="">
        
        {{form}}
        <button type="submit">{% csrf_token %}Entrar</button>
        <div>
            <a href="/">Voltar</a>
            <a href="/../accounts/register">Cadastre-se</a>
        </div>
    </form>
</section>
{% endblock %}