{% extends 'main.html' %}
{% load staticfiles %}
{% block title %}GOBIKE{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/contato.css' %}">
<section>
    <form method='POST'>
        {% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken"
            value="9V37azTEdcu0qG4VHwMkjISHN2vNgP3Hl0InpvXXIA4V1UcOdoJgJnjxkSbxH9Yt">
            {% csrf_token %}
        <tr>
            <th><label for="id_nome">Nome:</label></th>
            <td><input type="text" name="nome" maxlength="255" required id="id_nome"></td>
            {% csrf_token %}
        </tr>
        <tr data-anime="left">
            <th><label for="id_assunto">Assunto:</label></th>
            <td><input type="text" name="assunto" maxlength="255" required id="id_assunto"></td>
            {% csrf_token %}
        </tr>
        <tr data-anime="left">
            <th><label for="id_email">Email:</label></th>
            <td><input type="email" name="email" maxlength="254" required id="id_email"></td>
        </tr>
        <tr data-anime="left">
            <th><label for="id_telefone">Telefone:</label></th>
            <td><input type="number" name="telefone" maxlength="14" required id="id_telefone"></td>
            {% csrf_token %}
        </tr>
        <tr data-anime="left">
            <th><label for="id_conteudo">Conteudo:</label></th>
            <td><textarea name="conteudo" cols="40" rows="10" required id="id_conteudo">
                </textarea></td>
            {% csrf_token %}
        </tr>
        <button type='submit'>{% csrf_token %}Enviar</button>
    </form>
</section>
<h1>teste de retorno formulario</h1>
<p>Nome digitado: {{nome}}</p>
<p>Assunto: {{assunto}}</p>
<p>email: {{email}}</p>
<p>telefone: {{telefone}}</p>
<p>conteudo: {{conteudo}}</p>

{% endblock %}